node_modules
dist
dist-electron
.env
.claude

# Build & cache
*.tsbuildinfo
.vite

# Junk / test dosyaları
electron-out.log
main.js
test-electron.js
test-tts.mp3
*.mp3
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/settings.json
.idea

